@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #f8f4f4;
}

.form-contato {
    padding-bottom: 6%;

    .form-group {
        margin-bottom: 21px;
    }

    fieldset {
        padding-top: 8%;
    }

    padding-left: 8%;
    padding-right: 8%;

    label {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
    }

    .checkbox {

        label {
            font-size: 13px;
        }

    }

    a {
        color: #e73b17;
    }

    button#submit {
        border-color: #e73b17;
        border-radius: 2px;
        background-color: #e73b17;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }

    #submit-opt {
        margin-top: 10px;
    }

    .error-input {
        box-shadow: 0 2px 2px 0 #ff3939;
    }

    .reminder {
        color: #ffffff;
    }
}

header {
    background-image: radial-gradient(circle at 50% 0, #ffffff, #eaeaea);
    padding-top: 49px;
    padding-bottom: 50px;

    #main-info-holder {
        h1 {
            margin-top: 53px;
            font-size: 36px;
            color: #000000;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        }

        .subtitle {
            margin-top: 34px;

            h2 {
                margin: 4px;
                font-size: 18px;
                font-weight: 300;
                color: #7c7c7c;
            }
        }

    }

    #sub-info-holder {
        margin-top: 50px;

        #mkt-holder {
            height: 324px;
        }

        #form-holder {
            border-radius: 8px;
            background-color: #282727;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            position: absolute;
        }
    }
}

section#form-container {
    #form-mobile-holder {
        margin-top: 30px;
        background-color: #282727;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
}

section#sub-container {
    padding-top: 5%;
    padding-bottom: 40px;

    @media (max-width : 320px) {
        padding-bottom: 20px;
    }

    @media (min-width:769px) and (max-width: 1024px) {
        padding-bottom: 100px;
    }

    background: #ffffff;

    #beta-info-holder {
        padding: 14%;

        .divider {
            width: 35%;
            padding-bottom: 10px;
            border-bottom: 3px solid #ff4019;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            color: #64666b;
        }
    }
}

footer {
    background: #11141c;

    .box-header {
        padding-bottom: 2%;
        border-bottom: 1px solid #272d3d;

        h3 {
            font-size: 16px;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

    .box-content {
        margin-top: 8%;
        font-size: 14px;
        text-align: justify;
        color: #525252;

        p {
            margin: 0;
        }

        .nav-list {
            list-style: none;
            padding: 0;
            color: #848484;

            li {
                margin-bottom: 5%;

                a {
                    font-size: 14px;
                    font-weight: 300;
                    color: #848484;
                }
            }

        }

        .blog-list-item {
            margin-top: 3%;
            padding-bottom: 2%;

            &:not(.last-item)
            {
                border-bottom: 1px solid #272d3d;
            }

            a {
                color: #ffffff;
            }
        }
    }

    #logo-footer-holder {
        padding-top: 40px;
        padding-bottom: 60px;
        margin-top: 3%;
        border-top: 1px solid #272d3d;
    }
}