@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #f8f4f4;
}
.form-contato {
  padding-bottom: 6%;
  padding-left: 8%;
  padding-right: 8%;
}
.form-contato .form-group {
  margin-bottom: 21px;
}
.form-contato fieldset {
  padding-top: 8%;
}
.form-contato label {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
.form-contato .checkbox label {
  font-size: 13px;
}
.form-contato a {
  color: #e73b17;
}
.form-contato button#submit {
  border-color: #e73b17;
  border-radius: 2px;
  background-color: #e73b17;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}
.form-contato #submit-opt {
  margin-top: 10px;
}
.form-contato .error-input {
  box-shadow: 0 2px 2px 0 #ff3939;
}
.form-contato .reminder {
  color: #ffffff;
}
header {
  background-image: radial-gradient(circle at 50% 0, #ffffff, #eaeaea);
  padding-top: 49px;
  padding-bottom: 50px;
}
header #main-info-holder h1 {
  margin-top: 53px;
  font-size: 36px;
  color: #000000;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
header #main-info-holder .subtitle {
  margin-top: 34px;
}
header #main-info-holder .subtitle h2 {
  margin: 4px;
  font-size: 18px;
  font-weight: 300;
  color: #7c7c7c;
}
header #sub-info-holder {
  margin-top: 50px;
}
header #sub-info-holder #mkt-holder {
  height: 324px;
}
header #sub-info-holder #form-holder {
  border-radius: 8px;
  background-color: #282727;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
}
section#form-container #form-mobile-holder {
  margin-top: 30px;
  background-color: #282727;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
section#sub-container {
  padding-top: 5%;
  padding-bottom: 40px;
  background: #ffffff;
}
@media (max-width: 320px) {
  section#sub-container {
    padding-bottom: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  section#sub-container {
    padding-bottom: 100px;
  }
}
section#sub-container #beta-info-holder {
  padding: 14%;
}
section#sub-container #beta-info-holder .divider {
  width: 35%;
  padding-bottom: 10px;
  border-bottom: 3px solid #ff4019;
}
section#sub-container #beta-info-holder p {
  font-size: 18px;
  font-weight: 300;
  color: #64666b;
}
footer {
  background: #11141c;
}
footer .box-header {
  padding-bottom: 2%;
  border-bottom: 1px solid #272d3d;
}
footer .box-header h3 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
footer .box-content {
  margin-top: 8%;
  font-size: 14px;
  text-align: justify;
  color: #525252;
}
footer .box-content p {
  margin: 0;
}
footer .box-content .nav-list {
  list-style: none;
  padding: 0;
  color: #848484;
}
footer .box-content .nav-list li {
  margin-bottom: 5%;
}
footer .box-content .nav-list li a {
  font-size: 14px;
  font-weight: 300;
  color: #848484;
}
footer .box-content .blog-list-item {
  margin-top: 3%;
  padding-bottom: 2%;
}
footer .box-content .blog-list-item:not(.last-item) {
  border-bottom: 1px solid #272d3d;
}
footer .box-content .blog-list-item a {
  color: #ffffff;
}
footer #logo-footer-holder {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 3%;
  border-top: 1px solid #272d3d;
}
